################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactLogin/.vs/ReactLogin/v15
/ReactLogin/packages
/loginapp/node_modules
